
<h2>Edit Mini Store Size</h2>

<div id="app_data" class="app-section">
  <h3>Store Size Info</h3>
  
  <div class="field-rows">
    <div class="field-row"><div class="field-label"><label for="">Name</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
  </div>
</div>


<div class="centered top_pad">
  <%= submit_tag 'Save Store Size' %>
</div>
