<div class="header">
  <h3>D</h3>
  <div class="count">2,091 Items</div>
  <%=link_to "Export to Excel", '/report.xls', :class => 'button' %>
</div>
<div class="scroller">
  
  <a href="/alphabetical_items/1" class="<%= @controller.action_name == 'show' ? ' selected' : '' %>"><span class="area-icon boh">Dispenser</span></a>
  <a href="/alphabetical_items/1"><span class="area-icon boh">Divider (Small)</span></a>
  <a href="/alphabetical_items/1"><span class="area-icon boh">Divider (Large)</span></a>
  <a href="/alphabetical_items/1"><span class="area-icon boh">Data Rack Label</span></a>
  <a href="/alphabetical_items/1"><span class="area-icon boh">Dymo Custom Label (Large)</span></a>
  <a href="/alphabetical_items/1"><span class="area-icon boh">Dymo Shipping Labels (Large)</span></a>
  <a href="/alphabetical_items/1"><span class="area-icon boh">Desk Organizer</span></a>
  <a href="/alphabetical_items/1"><span class="area-icon boh">Drivers License Guide 2008</span></a>
  <a href="/alphabetical_items/1"><span class="area-icon genius-bar">Downtime Transaction Form</span></a>
  <a href="/alphabetical_items/1"><span class="area-icon genius-bar">Desktop Calculator</span></a>
  <a href="/alphabetical_items/1"><span class="area-icon genius-repair-room">Dryer</span></a>
  <a href="/alphabetical_items/1"><span class="area-icon genius-repair-room">Dots (Assorted Colors)</span></a>
  <a href="/alphabetical_items/1"><span class="area-icon genius-repair-room">Dots (Red)</span></a>
  
</div>
