<div class="outlined-content login-box">
  <h2>Welcome to the Item Database</h2> 
  <p>
  There are 2,000 items currently being tracked. View these items by 
  <a href="/alphabetical_items">Alphabetical List</a>,
  <a href="/store_location_items">Store Location</a>, 
  <a href="/vendor_supply_type_items">Vendor Supply Type</a>, or
  <a href="/locale_itesm">Locale</a>
  </p>
</div>