
<h2>All Items</h2>

<table class="all-items" cellspacing="0" cellpadding="0">
  <tr class="header">
    <th><a href="#SORT">Location</a></th>
    <th class="sorted-desc"><div class="sort-icon"></div><a href="#SORT">Name</a></th>
    <th><a href="#SORT">Image</a></th>
    <th><a href="#SORT">Locales</a></th>
  </tr>

  <tr>
    <td class="location boh"><a href="/alphabetical_items/1">Back of House</a></td>
    <td><a href="/alphabetical_items/1">Data Rack Label</a></td>
    <td class="image"><a href="/alphabetical_items/1"><%= image_tag 'temp/rack-label.jpg' %></a></td>
    <td><a href="/alphabetical_items/1">All</a></td>
  </tr>
  
  <tr>
    <td class="location boh"><a href="/alphabetical_items/1">Back of House</a></td>
    <td><a href="/alphabetical_items/1">Dispenser</a></td>
    <td class="image"><a href="/alphabetical_items/1"><%= image_tag 'temp/dispenser.png' %></a></td>
    <td><a href="/alphabetical_items/1">US, Canada, UK</a></td>
  </tr>
  
  <tr>
    <td class="location genius-bar"><a href="/alphabetical_items/1">Genius Bar</a></td>
    <td><a href="/alphabetical_items/1">Downtime Transaction Form</a></td>
    <td class="image"><a href="/alphabetical_items/1"><%= image_tag 'temp/form.gif' %></a></td>
    <td><a href="/alphabetical_items/1">All</a></td>
  </tr>
  
  <tr>
    <td class="location genius-repair-room"><a href="/alphabetical_items/1">Genius Repair Room</a></td>
    <td><a href="/alphabetical_items/1">Dots (Assorted Colors)</a></td>
    <td class="image"><a href="/alphabetical_items/1"><%= image_tag 'temp/dots-assorted.jpg' %></a></td>
    <td><a href="/alphabetical_items/1">All</a></td>
  </tr>


</table>