<div class="picture">
  <%= image_tag 'temp/dispenser.png' %>
</div>

<h1>Dispenser</h1>
<div class="description">
  <h3>Description</h3>
  <p>The dispenser is used to automatically dispense soap in every store regardless of size and location.</p>
</div>

<div class="locations-and-vendor-type">
  <div class="locations">
    <h3>Locations in the Store</h3>
    <div class="location boh">Back of House</div>
    <div class="location genius-bar">Genius Bar</div>
    <div class="location genius-repair-room">Genius Repair Room</div>
  </div>
  <div class="vendor-type-box">
    <h3>Vendor Supply Type</h3>
    <div class="vendor-type">Apple Toolkit</div>
  </div>
</div>

<div class="notes-box">
  <h3>Notes</h3>
  <div class="note">
    <p>We're waiting for the vendor to get back to us about the pricing.</p>
    <div class="byline">by Jeanette at 3/1/09, 12:45pm</div>
    <div class="note-actions">Mark as Resolved</div>
  </div>
  <div class="note">
    <p>We're waiting for the vendor to get back to us about the pricing.</p>
    <div class="byline">by Jeanette at 3/1/09, 12:45pm</div>
    <div class="note-actions">Un-Mark as Resolved</div>
  </div>
</div>