
<h2>Edit Canada - Candian English Locale</h2>

<div id="app_data" class="app-section">
  <h3>Locale Info</h3>
  
  <div class="field-rows">
    <div class="field-row"><div class="field-label"><label for="">Country</label></div> <div class="field-value">&nbsp;<select><option>Canada</option><option>Switzerland</option></select></div></div>
  </div>
  
  <div class="field-rows">
    <div class="field-row"><div class="field-label"><label for="">Locale Name</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
  </div>
  
  <div class="field-rows">
    <div class="field-row"><div class="field-label"><label for="">Locale Code</label></div> <div class="field-value">&nbsp;<%= text_field_tag '', '' %></div></div>
  </div>
</div>


<div class="centered top_pad">
  <%= submit_tag 'Save Locale' %>
</div>
