
<h2>Exceptions (15)</h2>

<table class="all-items" cellspacing="0" cellpadding="0">
  <tr class="header">
    <th><a href="#SORT">Location</a></th>
    <th><a href="#SORT">Vendor</a></th>
    <th><a href="#SORT">Apple / Vendor Part #</a></th>
    <th><a href="#SORT">Mfgr. Part #</a></th>
    <th class="sorted-desc"><div class="sort-icon"></div><a href="#SORT">Name</a></th>
    <th><a href="#SORT">Image</a></th>
    <th><a href="#SORT">Unit of Measure</a></th>
    <th><a href="#SORT">Quantity in Kit</a></th>
    <th><a href="#SORT">Quantity Received</a></th>
    <th><a href="#SORT">Comment</a></th>
    <th><a href="#SORT">Exception</a></th>
  </tr>

  <tr>
    <td class="location boh"><a href="/alphabetical_items/1">Back of House</a></td>
    <td><a href="/alphabetical_items/1">XPDX</a></td>
    <td><a href="/alphabetical_items/1">ACM51005</a></td>
    <td><a href="/alphabetical_items/1">700806</a></td>
    <td><a href="/alphabetical_items/1">Data Rack Label<br/><small>This is the description of the item.</small></a></td>
    <td class="image"><a href="/alphabetical_items/1"><%= link_to image_tag('temp/rack-label.jpg'), 'javascript:jQuery.facebox({image: \'/images/temp/rack-label.jpg\'})' %></a></td>
    <td><a href="/alphabetical_items/1">BX</a></td>
    <td><a href="/alphabetical_items/1">2</a></td>
    <td><a href="/alphabetical_items/1">1</a></td>
    <td><a href="/alphabetical_items/1"></a></td>
    <td><a href="/alphabetical_items/1">We only received one of these.</a></td>
  </tr>
  
  <tr>
    <td class="location boh"><a href="/alphabetical_items/1">Back of House</a></td>
    <td><a href="/alphabetical_items/1">XPDX</a></td>
    <td><a href="/alphabetical_items/1">ACM51005</a></td>
    <td><a href="/alphabetical_items/1">700806</a></td>
    <td><a href="/alphabetical_items/1">Dispenser<br/><small>This is the description of the item.</small></a></td>
    <td class="image"><a href="/alphabetical_items/1"><%= link_to image_tag('temp/dispenser.png'), 'javascript:jQuery.facebox({image: \'/images/temp/dispenser.png\'})' %></a></td>
    <td><a href="/alphabetical_items/1">BX</a></td>
    <td><a href="/alphabetical_items/1">2</a></td>
    <td><a href="/alphabetical_items/1">0</a></td>
    <td><a href="/alphabetical_items/1"></a></td>
    <td><a href="/alphabetical_items/1">Both were defective.</a></td>
  </tr>


</table>
